.header {
  background: $dark-blue;
}

.header__content {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: $s-size 0;
}
.header__title{
  color: white;
  text-decoration: none;
  h1 {
    margin: 0;
  }
}

.header__link-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.header__link {
  color: $dirty-white;
  font-size: $s-size;
  text-decoration: none;
  display: inline-block;
  & * {
    margin-bottom: 0;
  }
}