.list__header {
  background: $dirty-white;
  border: 1px solid darken($dirty-white, 7%);
  color: $grey;
  display: flex;
  justify-content: space-between;
  padding: $s-size $m-size;
}

.list__body {
  margin-bottom: $m-size;

  @media (min-width: $desktop-breakpoint) {
    margin-bottom: $l-size;
  }
}

.list__item {
  border: 1px solid darken($dirty-white, 7%);
  border-top: none;
  color: $dark-grey;
  display: flex;
  flex-direction: column;
  padding: $s-size;
  text-decoration: none;
  transition: background 0.3s ease;

  &:hover {
    background: $dirty-white;
  }

  @media (min-width: $desktop-breakpoint) {
    flex-direction: row;
    justify-content: space-between;
    padding: $m-size;
  }
}

.list__item--message {
  align-items: center;
  color: $grey;
  justify-content: center;
  padding: $m-size;

  &:hover {
    background: none;
  }
}

.list__item-title {
  margin: 0;
  word-break: break-all;
}

.list__item-sub-title {
  color: $grey;
  font-size: $font-size-small;
}

.list__item-text {
  word-break: break-all;
}

.list__item-data {
  margin: $s-size 0 0 0;
  
  @media (min-width: $desktop-breakpoint) {
    margin: 0;
    padding-left: $s-size;
  }
}